<!DOCTYPE html>
<html>

<head>
    <title>Payment Form</title>
    <script src="https://js.braintreegateway.com/web/dropin/1.23.0/js/dropin.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>

{% if messages %}
    {% for message in messages %}
    <h1{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
    {% endfor %}
{% endif %}

    <div id="dropin"></div>
    
    <form method="POST" action="generate_token/" id="payment-form">
        {% csrf_token %}
        <div>
            <label for="ammount">Ammount</label>
            <input type="number" name="ammount" id="ammount" max="10000">
        </div>
        <div>
            <label for="remarks">Remarks</label>
            <textarea name="remarks" id="remarks"></textarea>
        </div>
        <button type="submit" id="pay">Pay Now</button>
    </form>


    <script type="text/javascript">
        function dropinContainer(braintree_client_token, ammount){
            var button = document.querySelector('#submit-button');
            // var braintree_client_token = "{{ braintree_client_token }}";

            braintree.dropin.create({
                authorization: braintree_client_token,
                container: '#dropin-container',
                card: {
                    cardholderName: {
                        required: false
                    }
                }
            }, function (createErr, instance) {
                button.addEventListener('click', function () {
                    instance.requestPaymentMethod(function (err, payload) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url "process_payment" %}',
                            data: {
                                'paymentMethodNonce': payload.nonce,
                                'ammount': ammount,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            }
                        }).done(function (result) {
                            alert('Success')
                        });
                    });
                });
            });
        }

        $("#payment-form").submit(function(event) {
            event.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/generate_token/',
                dataType: 'json',
                async: false,
                cache: false,
                data: { "ammount": $("input#ammount").val(), "remarks": $("textarea#remarks").val(), "csrfmiddlewaretoken": "{{csrf_token}}" },
                success: function (data) {
                    var braintree_client_token = data.braintree_client_token;
                    var ammount = data.ammount;
                    // alert(braintree_client_token);
                    // alert(ammount);
                    $('#payment-form').remove();
                    $('#dropin').html("<div id='dropin-container'></div><button id='submit-button'>Request payment method</button>")
                    dropinContainer(braintree_client_token, ammount);
                },
                error: function () {
                    alert('Failed');
                }
            });
        });
    </script>

</body>

</html>